.recipe-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(323px, 1fr));
  gap: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.default-content {
  margin: 30px;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  width: 94%;
}

.sort-content {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.sort-btn {
  padding: 12px;
  background-color: #efe2eee8;
  height: fit-content;
  margin-left: 12px;
  border: 1px dotted #7a2274;
}

.selected {
  background-color: #983091;
  color: white;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.search-inp {
  padding: 12px;
  width: 18rem;
}
